<%
  common_params = {
    _request_: @endpoint._request_,
    client: @endpoint.client,
    nonce: params[:nonce],
    redirect_uri: @endpoint.redirect_uri,
    request_uri: @endpoint.request_uri,
    response_type: @endpoint.response_type,
    scopes: @endpoint.scopes,
    state: params[:state]
  }
%>

<article>
  <h2><%= 'authorizations.new.title'.t(client: @endpoint.client.name) %></h2>
  <p><%= 'authorizations.new.description'.t(redirect_uri: @endpoint.redirect_uri) %></p>
  <dl>
    <dt><%= 'authorization.scope'.t %></dt>
    <% @endpoint.scopes.each do |scope| %>
      <dd><%= scope.name %></dd>
    <% end %>
    <% if @endpoint.request_object %>
      <dt><%= 'authorization.request_object'.t %></dt>
      <dd>
        <pre><%= JSON.pretty_generate @endpoint.request_object.as_json.as_json %></pre>
      </dd>
    <% end %>
  </dl>
  <nav>
    <ul>
      <li>
        <%= render 'authorizations/form', common_params.merge(action: :approve) %>
      </li>
      <li>
        <%= render 'authorizations/form', common_params.merge(action: :deny) %>
      </li>
    </ul>
  </nav>
</article>
